body {
    max-width: 800px;
    margin: 50px auto;
}

img {
    cursor: pointer;
}

.form-check-inline {
    display: inline-block;
}

.ring {
    padding: 5px;
    min-width: 50px;
    background-color:cadetblue;
    border-radius: 4px;
    border-color: azure;
    color: cornsilk;
    cursor: pointer;
}

button {
    padding: 10px 5px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    min-width: 100px;
}

.note {
    padding: 5px;
    background: #ff0000b8;
    margin-top: 10px;
    color: #fff;
}